.titulo-maior {
    font-size: 47px;
}

.titulo-mais-pequeno {
    font-size: 43px;
}

.secao-cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 20px 20px;
    padding: 30px 4.5% 20px;
    min-height: 100vh;
    width: 98%;
}


/* Secao Curso */

.cursos-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.div-img-curso {
    background-image: linear-gradient(15deg, rgba(186, 253, 225, 0), rgba(249, 255, 253, 0.021), rgba(255, 255, 255, 0.199), rgba(186, 253, 225, 0));

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    height: 230px;
    width: 100%;
}

.textos {
    height: 120px;
    width: 100%;
}

.botao-curso {
    height: 50px;
    width: 100%;
}

.ver-detalhes-curso {
    background-color: rgba(190, 255, 239, 0.568);
    color: rgba(0, 12, 39, 0.719);

    display: inline-block;
    border: none;
    border-radius: 13px;
    padding: 3px 15px 3px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.ver-detalhes-curso:hover{
    box-shadow: 0px 3px 3px 0px rgba(0, 10, 24, 0.603);
    transform: scale(1.1);
}

.img-curso {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.card-curso {
    background-image: linear-gradient(-15deg, rgba(30, 112, 122, 0.719), rgba(48, 160, 136, 0.747), rgba(98, 216, 190, 0.733), rgba(92, 241, 145, 0.829));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    height: 400px;
    width: 320px;
    margin: 20px 46px 20px 0px;
    transition: 0.2s ease;
}

.card-curso:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 10, 24, 0.603);
    transform: scale(1.01);
}

.nome-curso {
    color: rgba(0, 11, 24, 0.877);

    font-size: 27px;
    font-weight: 800;
    letter-spacing: 2px;
}

.descricao {
    color: rgba(0, 22, 37, 0.555);

    font-size: 13px;
    font-weight: 550;
}